@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body { 
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    background-position: center center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #393d41;
    line-height: 1.65;
}

img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

/* header */

header #sec_0{
    background-color:black;
    padding: 10%;
    text-align: center;
}

header img{
    width: 100px;
    text-align: left;
}

#sec_1{
    background-image: url(banner.jpg);
    background-size: contain;
    padding: 10%;
}

h1{ 
    color: #25a2c3;
    font-size: 2em;
    font-weight: bolder;
    margin: 20px;
    line-height: 1.5;
}

button{
    background-color: #f04c2f; /* Green */
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:10px;
    margin-bottom: 4%;
}
button:active {
    box-shadow: none;
    transform: translateY(5px);
  }

/*  Main */

.font_t{
    color: rgba(4, 129, 157, 0.795);
}

.font_white{
    color: white;
    background-color: #e22d0e;
    padding: 3%;
    line-height: 1;

}
.sec_0{
    padding: 3%;
    margin: 3%;
}
.sec{
    margin: 4%;
    border: 1px solid #dee1e3;
    border-radius: 2%;
}
#sec_2 img{
    border-radius: 50%;
}

main p{
        margin: 2%;
        padding: 2%;
}

.font_o{
    color:#25a2c3 ;
}
main a {
    text-decoration: none;
}

/*article main */
article #p_1{
    font-size: 2em;
    font-weight: bolder;
    margin: 20px;
    line-height: 1.5;
}
article #p_2{
    font-style: italic;
}
article #p_4{
    font-size: small;
}

/*Footer*/

footer{
    background-color: rgba(4, 129, 157, 0.795) ;
    color:#c8e7f0;
    padding: 5%;
}
footer #p_f1{
    color: white;
    font-size: 2em;
    font-weight: bolder;
    margin: 20px;
    line-height: 1.5;

}
footer hr {
    width: 40%;
}
footer a{
    color: #c8e7f0;
}
