@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-4">
    <h1 class="display-4">Benvenuto su PizzaCode</h1>
    <p class="lead">Scopri il nostro delizioso menu e ordina la tua pizza preferita.</p>
    <a href="@Url.Action("Index", "Pizza")" class="btn btn-primary btn-lg">Visualizza il Menu</a>
</div>
