.card {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease; 
  }

  .card:hover {
    background-color: #f5e6ff;
  }
  .pending {
    background-color: #ffcccc; 
  }

  .completed {
    background-color: #ccccff;
  }
  h1{
    color: white;
  }

  .btn{
    background-color: transparent;
    border: solid 3px gre;
  }