.list-group-item.completed {
    background-color: #f0f0f0; 
    transition: background-color 0.3s ease;
  }

  .list-group-item.completed:hover {
    background-color: #e0e0e0; 
  }
  .card:hover {
    background-color: #a288b9; 
    transition: background-color 0.3s ease; 
}
h1{
    color: white;
  }
  .btn{
    background-color: transparent;
    border: solid 3px green($color: #000000);
  }