@model Hotels.Models.Cliente

@{
    ViewData["Title"] = "Modifica Cliente";
}

<div class="container mt-5">
    <h2>Modifica Cliente</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Cliente</h4>
            <hr />
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="CodiceFiscale" class="form-label"></label>
                    <input asp-for="CodiceFiscale" class="form-control" placeholder="Inserisci il codice fiscale" />
                    <span asp-validation-for="CodiceFiscale" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Cognome" class="form-label"></label>
                    <input asp-for="Cognome" class="form-control" placeholder="Inserisci il cognome" />
                    <span asp-validation-for="Cognome" class="text-danger"></span>
                </div>
                <div class "mb-3">
                    <label asp-for="Nome" class="form-label"></label>
                    <input asp-for="Nome" class="form-control" placeholder="Inserisci il nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Citta" class="form-label"></label>
                    <input asp-for="Citta" class="form-control" placeholder="Inserisci la città" />
                    <span asp-validation-for="Citta" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Provincia" class="form-label"></label>
                    <input asp-for="Provincia" class="form-control" placeholder="Inserisci la provincia" />
                    <span asp-validation-for="Provincia" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Inserisci l'email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Cellulare" class="form-label"></label>
                    <input asp-for="Cellulare" class="form-control" placeholder="Inserisci il cellulare" />
                    <span asp-validation-for="Cellulare" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Salva</button>
            </form>
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-secondary w-100">Indietro</a>
    </div>
</div>
