@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Benvenuto su TrasgressoriApp!</h1>
    <p class="lead">Gestisci facilmente i trasgressori, le violazioni e i verbali con la nostra applicazione web intuitiva.</p>
    <hr class="my-4">
    <p>TrasgressoriApp ti permette di:</p>
    <ul>
        <li>Registrare e visualizzare i dettagli dei trasgressori.</li>
        <li>Gestire le violazioni associate a ciascun trasgressore.</li>
        <li>Emettere e tenere traccia dei verbali relativi alle violazioni.</li>
        <li>Visualizzare report dettagliati sulle violazioni e sui verbali.</li>
    </ul>
    <a class="btn btn-primary btn-lg" href="~/Trasgressori" role="button">Gestisci Trasgressori</a>
    <a class="btn btn-secondary btn-lg" href="~/Reports" role="button">Visualizza Reports</a>
</div>
