.bg-profilo {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);}

.title {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #fbf7f7;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-lg {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
}

.text-primary {
  color: #007bff !important;
}

.favorite-list {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.favorite-list:hover {
  transform: scale(1.02);
}
