<div class="container-fluid mx-2 my-4" style="background: linear-gradient(135deg, #c3ec52 10%, #0ba29d 100%); padding: 20px; border-radius: 10px;">
  <div class="row">
    <h1 class="text-center mt-3 mb-5 fs-1 text-primary animate__animated animate__fadeInDown">Hello {{ user.nome }}</h1>
    
    <div class="col-12 col-md-3 animate__animated animate__fadeInLeft">
      <ul *ngFor="let user of users" class="list-unstyled user-list p-3 bg-white rounded shadow-sm">
        <li class="mb-3 border-bottom pb-2">
          <p><strong>Username:</strong> {{ user.nome }}<br>
             <strong>Email:</strong> {{ user.email }}</p>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 text-center">
      <h2 class="mb-4 text-success animate__animated animate__fadeInUp">I tuoi dati</h2>
      <div class="user-data mb-5 p-4 rounded shadow-sm bg-white animate__animated animate__zoomIn">
        <h4><strong>Codice cliente:</strong> user{{ user.id }}</h4>
        <h4><strong>Username:</strong> {{ user.nome }}</h4>
        <h4><strong>Email:</strong> {{ user.email }}</h4>
      </div>

      <div class="row justify-content-center">
        <div *ngFor="let movie of movies" class="col-12 col-sm-6 col-lg-4 card mb-4 p-0 movie-card animate__animated animate__fadeInUp animate__delay-1s">
          <img [src]="movie.poster_path" class="card-img-top rounded-top" alt="{{ movie.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.overview }}</p>
            <p class="card-text"><small class="text-muted">{{ movie.release_date }}</small></p>
            <button (click)="addFavorite(movie)" class="btn btn-primary w-100">Add to preferiti</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3 animate__animated animate__fadeInRight">
      <h4 class="mb-4 text-primary">I tuoi film preferiti</h4>
      <ul class="list-group favorite-list">
        <li *ngFor="let favorite of favorites" class="list-group-item d-flex justify-content-between align-items-center animate__animated animate__fadeInRight animate__delay-2s">
          <span>{{ favorite.movie.title }}</span>
          <button (click)="removeFavorite(favorite.movie.id)" class="btn btn-danger btn-sm">Remove</button>
        </li>
      </ul>
    </div>
  </div>
</div>
