:root {
    --black: #1d1d1d;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
      
   html, body {
        background-color: var(--black);
       font-family: var(--font-family);
       color: #fff;
  }
  
  .nav-link,
  .nav-link:hover {
      color: #fff; 
  }
  
  .card {
      width: 200px;
      margin: 10px;
  }
  
  .list-unstyled li a {
      text-decoration: none;
      color: white;
  }
  
  .custom-flex {
      display: flex;
      align-items: center;
  }
  
  .tv-shows {
      font-size: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  
  .btn-container {
      flex-shrink: 0;
  }
  
  .dropdown-toggle.custom-btn {
      background-color: #000;
      color: white;
      border: 1px solid white;
  }
  
  .follow-icon {
      font-size: 14px;
  }
