:root {
            --black: #171616; 
            --gray: #343434;
            --dark-gray: #252525;
            --light-gray: #9e9e9e;
            --white: #ffffff;
            --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        html, body {
            background-color: var(--black);
            color: var(--white);
            font-family: var(--font-family);
        }

        .profile-image {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 10%;
        }

        .divider {
            border-top: 1px solid var(--light-gray);
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .hr-half {
            height: 1px;
            background-color: var(--white);
            width: 65%; 
            margin-left: auto;
            margin-right: 0px;
        }

        .btn-edit {
            background-color: var(--black);
            border: 1px solid var(--white);
            color: var(--white);
        }

        .btn-edit:hover {
            background-color: var(--white);
            color: var(--black);
        }

        .btn-action {
            background-color: var(--black);
            border: 1px solid var(--white);
            color: var(--white);
        }

        .btn-action:hover {
            background-color: var(--white);
            color: var(--black);
        }

        .btn-language {
            background-color: var(--black);
            border: 1px solid var(--white);
            color: var(--white);
        }

        .btn-language:hover {
            background-color: var(--gray);
            color: var(--black);
        }

        .maturity-settings {
            background-color: var(--dark-gray);
            color: var(--white);
            font-weight: bold;
            padding: 10px;
            margin-bottom: 10px;
        }
