@model Verbale

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Verbale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ViolazioneId" />
            <div class="form-group">
                <label asp-for="NumeroVerbale" class="control-label"></label>
                <input asp-for="NumeroVerbale" class="form-control" />
                <span asp-validation-for="NumeroVerbale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVerbale" class="control-label"></label>
                <input asp-for="DataVerbale" class="form-control" />
                <span asp-validation-for="DataVerbale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-violazioneId="@Model.ViolazioneId" asp-route-trasgressoreId="@ViewBag.TrasgressoreId">Back to List</a>
</div>
