.card:hover {
    background-color: #a98686;
    transition: background-color 0.3s ease;
}
h1{
    color: white;
  }
  .btn{
    background-color: transparent;
    border: solid 3px green($color: #000000);
  }