@{
    ViewData["Title"] = "Ordine Confermato";
}

<div class="container mt-4 text-center">
    <h2 class="mb-4">Ordine Confermato</h2>
    <p>Grazie per il tuo ordine! È stato confermato e sarà elaborato il prima possibile.</p>
    <a href="/Home/Index" class="btn btn-success">Torna alla Home</a>
</div>
