@model Violazione

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Violazione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TrasgressoreId" />
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataViolazione" class="control-label"></label>
                <input asp-for="DataViolazione" class="form-control" />
                <span asp-validation-for="DataViolazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importo" class="control-label"></label>
                <input asp-for="Importo" class="form-control" />
                <span asp-validation-for="Importo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuntiDecurtati" class="control-label"></label>
                <input asp-for="PuntiDecurtati" class="form-control" />
                <span asp-validation-for="PuntiDecurtati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-trasgressoreId="@Model.TrasgressoreId">Back to List</a>
</div>
