<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 alert alert-info text-center shadow-lg rounded">
      <h1 class="display-4">Accedi o registrati</h1>
    </div>
    <div class="col-12 col-md-5 d-flex align-items-stretch">
      <div class="card text-center shadow-lg w-100 my-2">
        <div class="card-body">
          <h2 class="card-title">Accedi</h2>
          <p class="card-text">Accedi con il tuo account per continuare.</p>
          <button routerLink="login" class="btn btn-primary btn-lg mt-3">Accedi con il tuo account</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 d-flex align-items-stretch">
      <div class="card text-center shadow-lg w-100 my-2">
        <div class="card-body">
          <h2 class="card-title">Registrati</h2>
          <p class="card-text">Crea un nuovo account per iniziare.</p>
          <button routerLink="register" class="btn btn-primary btn-lg mt-3">Crea un nuovo account</button>
        </div>
      </div>
    </div>
  </div>
</div>
