@{
    ViewData["Title"] = "About";
}
<div class="bg-white shadow-md rounded-lg p-8">
    <h2 class="text-3xl font-semibold mb-4">Chi Siamo</h2>
    <p class="text-gray-700 mb-6">
        Benvenuti su Scarpe & Co, il tuo negozio online di fiducia per le migliori scarpe da tennis! Siamo una squadra di appassionati di tennis dedicata a portarti il meglio in termini di comfort, stile e prestazioni sul campo.
    </p>
    <p class="text-gray-700 mb-6">
        La nostra missione è semplice: fornire ai tennisti di tutti i livelli le calzature di più alta qualità, progettate per migliorare il tuo gioco e aumentare il tuo comfort. Che tu sia un professionista esperto o un principiante entusiasta, abbiamo la scarpa perfetta per te.
    </p>
    <p class="text-gray-700 mb-6">
        Da Scarpe & Co, crediamo che il successo inizi con i piedi. Ecco perché collaboriamo solo con i migliori marchi del settore per garantire che ogni paio di scarpe che offriamo sia realizzato con i materiali più innovativi e le tecnologie più avanzate. La nostra selezione comprende modelli che offrono supporto eccezionale, trazione superiore e durabilità senza pari.
    </p>
    <p class="text-gray-700 mb-6">
        Ma non è solo questione di prestazioni. Sappiamo che lo stile conta. Ecco perché curiamo attentamente una gamma di scarpe che non solo ti faranno giocare meglio, ma ti faranno anche apparire al meglio. Dalle linee classiche alle ultime tendenze, troverai sicuramente qualcosa che si adatta al tuo gusto personale.
    </p>
    <p class="text-gray-700 mb-6">
        Grazie per aver scelto Scarpe & Co. Siamo orgogliosi di servire la comunità dei tennisti e siamo sempre qui per aiutarti a trovare la scarpa perfetta per il tuo gioco. Se hai domande, non esitare a contattarci. Buon gioco!
    </p>
    <a href="@Url.Action("Index", "Home")" class="mt-4 inline-block bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Torna alla Home</a>
</div>
